<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <p>Welcome to the music app!</p>
    <form action="submit" method="post">
      <input type="text" name="song"> <button type="submit">song name</button>
    </form>
  </body>
</html>
